@page "/counter"
@inject IJSRuntime JsRuntime

<div class="imagexpo">
    <svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1783.68 798.81">
        <defs>
            <style>
                .cls-1 {
                    fill: #952d5b;
                }

                .cls-2 {
                    clip-path: url(#clippath-11);
                }

                .cls-3 {
                    fill: #a977ab;
                }

                .cls-4 {
                    fill: #107faa;
                }

                .cls-5 {
                    fill: #c93e38;
                }

                .cls-6 {
                    clip-path: url(#clippath-2);
                }

                .cls-7 {
                    fill: #d5a35e;
                }

                .cls-8 {
                    clip-path: url(#clippath-6);
                }

                .cls-9 {
                    clip-path: url(#clippath-7);
                }

                .cls-10 {
                    clip-path: url(#clippath-1);
                }

                .cls-11 {
                    clip-path: url(#clippath-4);
                }

                .cls-12 {
                    fill: #c8d3d6;
                }

                .cls-13 {
                    fill: #67aa74;
                }

                .cls-14 {
                    fill: #4b824e;
                }

                .cls-15 {
                    fill: #525a9e;
                }

                .cls-16 {
                    clip-path: url(#clippath-9);
                }

                .cls-17 {
                    clip-path: url(#clippath);
                }

                .cls-18 {
                    fill: none;
                }

                .cls-19 {
                    clip-path: url(#clippath-3);
                }

                .cls-20 {
                    clip-path: url(#clippath-8);
                }

                .cls-21 {
                    clip-path: url(#clippath-5);
                }

                .cls-22 {
                    fill: #e18b22;
                }

                .cls-23 {
                    clip-path: url(#clippath-10);
                }
            </style>
            <clipPath id="clippath">
                <rect class="cls-18" x="1114.8" y="411.42" width="401.33" height="387.39" />
            </clipPath>
            <clipPath id="clippath-1">
                <rect class="cls-18" x="1142.34" y="437.49" width="345.59" height="79.43" />
            </clipPath>
            <clipPath id="clippath-2">
                <rect class="cls-18" x="1181.69" y="706.31" width="317.72" height="79.43" />
            </clipPath>
            <clipPath id="clippath-3">
                <rect class="cls-18" x="1291.77" y="563.01" width="96.15" height="94.76" />
            </clipPath>
            <clipPath id="clippath-4">
                <rect class="cls-18" x="1503.59" y="362.35" width="280.09" height="200.66" />
            </clipPath>
            <clipPath id="clippath-5">
                <rect class="cls-18" x="1598.78" y="415.42" width="96.15" height="94.76" />
            </clipPath>
            <clipPath id="clippath-6">
                <rect class="cls-18" x="464.99" width="353.95" height="172.79" />
            </clipPath>
            <clipPath id="clippath-7">
                <rect class="cls-18" x="578.08" y="38.87" width="96.15" height="94.76" />
            </clipPath>
            <clipPath id="clippath-8">
                <rect class="cls-18" x="1248.57" y="273.16" width="178.37" height="89.19" />
            </clipPath>
            <clipPath id="clippath-9">
                <rect class="cls-18" x="1289.39" y="163.62" width="96.15" height="94.76" />
            </clipPath>
            <clipPath id="clippath-10">
                <rect class="cls-18" x="464.99" y="228.57" width="253.62" height="182.55" />
            </clipPath>
            <clipPath id="clippath-11">
                <rect class="cls-18" x="543.23" y="267.82" width="96.15" height="94.76" />
            </clipPath>
        </defs>
        <g id="Hall">
            <polygon class="cls-12" points="1187.6 411.42 1002.89 198.1 1002.88 198.1 1002.88 197.11 1002.88 172.29 465 172.29 465 424.51 654.94 424.51 654.95 424.51 654.95 798.81 1270.86 798.81 1270.86 652.63 1270.86 411.42 1187.6 411.42" />
        </g>
        <g id="Zone1">
            <g>
                <path class="cls-4" d="m818.73,470.61v153.28h133.76v-153.28h-133.76Zm66.6,122.51c-26.55,0-48.07-21.21-48.07-47.37s21.53-47.38,48.07-47.38,48.07,21.22,48.07,47.38-21.53,47.37-48.07,47.37Z" />
                <path class="cls-12" d="m885.33,498.36c-26.55,0-48.07,21.22-48.07,47.38s21.53,47.37,48.07,47.37,48.07-21.21,48.07-47.37-21.53-47.38-48.07-47.38Zm6.78,59.92h-7.63v-14.75c0-1.78.04-3.42.12-4.93-.49.59-1.08,1.19-1.76,1.79l-3.16,2.62-3.89-4.81,9.55-7.79h6.78v27.86Z" />
                <rect class="cls-4" x="818.73" y="649.05" width="133.76" height="41.81" />
                <path d="m875.77,538.21l3.89,4.81,3.16-2.62c.68-.61,1.28-1.2,1.76-1.79-.08,1.51-.12,3.15-.12,4.93v14.75h7.63v-27.86h-6.78l-9.55,7.79Z" />
            </g>
        </g>
        <g id="Zone2">
            <g>
                <path class="cls-13" d="m668.88,411.42H0v387.39h668.87v-213.21h89.18v-174.19h-89.17ZM103.1,763.85H27.85v-246.6h75.25v246.6Zm255.82-205.57c8.46-7.31,19.54-11.76,31.68-11.76s23.21,4.44,31.67,11.76h157.37v75.25h-162.7c-7.57,4.9-16.62,7.76-26.34,7.76s-18.78-2.86-26.35-7.76h-208.12v-75.25h202.79Zm-202.78,208.43v-75.25h490.38v75.25H156.14ZM28.04,500.35v-75.25h628.31v75.25H28.04Z" />
                <rect class="cls-14" x="28.04" y="425.1" width="628.31" height="75.25" />
                <rect class="cls-14" x="156.14" y="691.45" width="490.38" height="75.25" />
                <rect class="cls-14" x="27.85" y="517.24" width="75.25" height="246.6" />
                <path class="cls-14" d="m156.13,633.53h208.12c-13.08-8.47-21.73-23.05-21.73-39.63,0-14.2,6.35-26.94,16.4-35.63h-202.79v75.25Z" />
                <path class="cls-14" d="m438.67,593.9c0,16.58-8.65,31.16-21.73,39.63h162.7v-75.25h-157.37c10.05,8.68,16.4,21.42,16.4,35.63Z" />
                <path class="cls-12" d="m342.52,593.9c0,16.58,8.64,31.16,21.73,39.63,7.57,4.9,16.62,7.76,26.35,7.76s18.78-2.86,26.34-7.76c13.08-8.47,21.73-23.05,21.73-39.63,0-14.2-6.35-26.94-16.4-35.63-8.46-7.31-19.54-11.76-31.67-11.76s-23.22,4.44-31.68,11.76c-10.05,8.68-16.4,21.42-16.4,35.63Zm58.29,6.34v6.21h-20.23v-4.96l6.81-6.87c1.95-2.02,3.21-3.41,3.8-4.17.61-.75,1.02-1.38,1.25-1.92.24-.52.37-1.08.37-1.67,0-.73-.24-1.29-.73-1.7-.47-.43-1.13-.64-1.98-.64s-1.76.26-2.65.76c-.9.49-1.91,1.23-3.04,2.22l-4.14-4.84c1.44-1.29,2.65-2.22,3.62-2.77s2.04-.96,3.19-1.25c1.16-.3,2.45-.46,3.89-.46,1.8,0,3.41.33,4.81.97,1.41.63,2.51,1.54,3.28,2.71.79,1.16,1.19,2.48,1.19,3.95,0,1.08-.14,2.08-.43,3.01-.27.94-.68,1.85-1.25,2.74-.57.9-1.33,1.84-2.28,2.83-.94,1-2.95,2.88-6.05,5.66v.18h10.55Z" />
                <path d="m396.31,594.4c.95-.99,1.71-1.93,2.28-2.83.56-.89.98-1.8,1.25-2.74.28-.93.43-1.93.43-3.01,0-1.48-.4-2.8-1.19-3.95-.78-1.17-1.87-2.08-3.28-2.71-1.4-.65-3-.97-4.81-.97-1.44,0-2.74.15-3.89.46-1.16.29-2.22.7-3.19,1.25s-2.18,1.48-3.62,2.77l4.14,4.84c1.13-.99,2.14-1.73,3.04-2.22.89-.5,1.77-.76,2.65-.76s1.51.21,1.98.64c.49.41.73.97.73,1.7,0,.59-.12,1.15-.37,1.67-.23.53-.64,1.17-1.25,1.92-.59.75-1.86,2.14-3.8,4.17l-6.81,6.87v4.96h20.23v-6.21h-10.55v-.18c3.1-2.78,5.12-4.66,6.05-5.66Z" />
            </g>
        </g>
        <g id="Zone3">
            <g>
                <g class="cls-17">
                    <path class="cls-7" d="m1114.8,411.42h401.32v387.39h-401.32v-387.39" />
                </g>
                <g class="cls-10">
                    <path class="cls-22" d="m1142.38,437.49h345.51v79.43h-345.51v-79.43" />
                </g>
                <g class="cls-6">
                    <path class="cls-22" d="m1181.72,706.31h317.65v79.43h-317.65v-79.43" />
                </g>
                <g class="cls-19">
                    <path class="cls-12" d="m1339.85,563.01c-26.55,0-48.07,21.22-48.07,47.38s21.53,47.38,48.07,47.38,48.07-21.22,48.07-47.38-21.52-47.38-48.07-47.38" />
                </g>
                <path d="m1349.12,601.13c0,1.73-.53,3.21-1.58,4.44-1.06,1.24-2.58,2.14-4.56,2.71v.09c4.64.59,6.97,2.79,6.97,6.6,0,2.6-1.03,4.65-3.07,6.14-2.05,1.48-4.9,2.22-8.55,2.22-1.51,0-2.89-.11-4.17-.33-1.28-.22-2.66-.62-4.14-1.19v-6.24c1.22.61,2.45,1.06,3.71,1.37,1.28.3,2.44.46,3.5.46,1.66,0,2.87-.23,3.62-.7.75-.46,1.13-1.19,1.13-2.19,0-.75-.21-1.32-.61-1.73-.39-.43-1.02-.74-1.89-.94-.87-.22-2.02-.33-3.44-.33h-1.7v-5.66h1.76c3.81,0,5.72-.97,5.72-2.92,0-.75-.29-1.29-.85-1.64-.55-.37-1.3-.55-2.25-.55-1.79,0-3.63.6-5.54,1.79l-3.13-5.02c1.48-1.01,2.99-1.73,4.53-2.16,1.54-.44,3.3-.67,5.29-.67,2.9,0,5.16.58,6.78,1.73,1.64,1.14,2.46,2.71,2.46,4.71Z" />
            </g>
        </g>
        <g id="Zone4">
            <g>
                <g class="cls-11">
                    <path class="cls-3" d="m1503.59,362.35h280.09v200.66h-280.09v-200.66" />
                </g>
                <g class="cls-21">
                    <path class="cls-12" d="m1646.86,415.42c-26.55,0-48.07,21.22-48.07,47.38s21.52,47.38,48.07,47.38,48.07-21.22,48.07-47.38-21.52-47.38-48.07-47.38" />
                </g>
                <path d="m1657.95,469.95h-3.07v5.38h-7.42v-5.38h-11.1v-5.54l11.59-16.94h6.94v16.85h3.07v5.63Zm-10.49-5.63v-3.25c0-.61.02-1.43.06-2.46.06-1.03.1-1.57.12-1.61h-.21c-.43.97-.91,1.89-1.46,2.74l-3.1,4.59h4.59Z" />
            </g>
        </g>
        <g id="Zone5">
            <g>
                <g class="cls-8">
                    <path class="cls-5" d="m465,0h353.94v172.79h-353.94V0" />
                </g>
                <g class="cls-9">
                    <path class="cls-12" d="m626.16,38.87c-26.55,0-48.07,21.22-48.07,47.38s21.52,47.38,48.07,47.38,48.07-21.22,48.07-47.38-21.52-47.38-48.07-47.38" />
                </g>
                <path d="m627.64,80.55c1.6,0,3.04.38,4.32,1.13,1.29.73,2.3,1.78,3.01,3.13.73,1.36,1.1,2.94,1.1,4.71,0,3.1-.94,5.5-2.83,7.18-1.87,1.67-4.7,2.49-8.49,2.49-3.27,0-5.92-.5-7.97-1.52v-6.17c1.1.51,2.34.94,3.74,1.28,1.4.33,2.59.49,3.59.49,1.4,0,2.47-.29,3.22-.88.75-.61,1.13-1.49,1.13-2.65,0-1.05-.39-1.87-1.16-2.46-.75-.61-1.91-.91-3.47-.91-1.18,0-2.46.23-3.83.67l-2.74-1.37,1.03-14.72h15.88v6.27h-9.49l-.33,3.68c.99-.18,1.69-.28,2.1-.3.43-.02.82-.03,1.19-.03Z" />
            </g>
        </g>
        <g id="Zone6">
            <g>
                <g class="cls-20">
                    <path class="cls-1" d="m1248.57,273.16h178.37v89.19h-178.37v-89.19" />
                </g>
                <g class="cls-16">
                    <path class="cls-12" d="m1337.47,163.62c-26.55,0-48.07,21.21-48.07,47.37s21.52,47.38,48.07,47.38,48.07-21.22,48.07-47.38-21.53-47.37-48.07-47.37" />
                </g>
                <path d="m1327.64,211.76c0-3.89.55-7.03,1.64-9.43,1.11-2.41,2.75-4.18,4.93-5.32,2.17-1.16,4.84-1.73,8.03-1.73,1.11,0,2.43.11,3.95.33v5.87c-1.28-.24-2.66-.37-4.14-.37-2.52,0-4.4.56-5.63,1.67-1.22,1.1-1.89,2.9-2.01,5.41h.21c1.16-2.17,2.99-3.25,5.51-3.25s4.42.81,5.78,2.4c1.35,1.58,2.04,3.8,2.04,6.66,0,3.06-.87,5.49-2.59,7.27-1.73,1.76-4.14,2.65-7.24,2.65-3.29,0-5.86-1.06-7.73-3.19-1.85-2.14-2.77-5.14-2.77-8.97Zm10.31,6.17c.81,0,1.46-.29,1.95-.88.5-.61.76-1.57.76-2.89,0-2.27-.87-3.41-2.62-3.41-.87,0-1.58.3-2.13.88-.53.59-.79,1.3-.79,2.13,0,1.22.25,2.22.76,3.01.52.78,1.22,1.16,2.07,1.16Z" />
            </g>
        </g>
        <g id="Zone7">
            <g>
                <g class="cls-23">
                    <path class="cls-15" d="m464.99,228.57h253.62v182.55h-253.62v-182.55" />
                </g>
                <g class="cls-2">
                    <path class="cls-12" d="m591.31,267.82c-26.55,0-48.07,21.22-48.07,47.38s21.53,47.38,48.07,47.38,48.07-21.22,48.07-47.38-21.52-47.38-48.07-47.38" />
                </g>
                <path d="m584.12,327.74l9.55-21.6h-12.05v-6.24h20.11v4.44l-9.82,23.39h-7.79Z" />
            </g>
        </g>
    </svg>
</div>

@code {
    

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        //var module = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "/js/Three.js");


    }
}
